 /* MODO OSCURO Y MODO CLARO*/

.modo-oscuro {
    --colorFondoHeader: #030020;

    --colorFondoMeme: #000001;

    --colorTexto: #ffffff; /* Color del texto para modo oscuro */
    --colorTextoInputs:#333333; /* Color del texto para modo oscuro */

    --colorFondoBotones: #50007f;
    --colorFondoBotonesRGB: 80, 0, 127; /* Valor RGB del color */

    --colorTextoBotones: rgb(255, 255, 255); /* Color del texto */
    
    --colorTextoBotonesSecundarios: #FFFFFF; /* Color del texto */

}

.modo-claro {
    --colorFondoHeader:#fafafa;

    --colorFondoMeme: #e8e8e8;

    --colorTexto:#333333; /* Color del texto para modo oscuro */


    --colorFondoBotones: #50007f;
    --colorFondoBotonesRGB: 80, 0, 127; /* Valor RGB del color */

    --colorTextoBotones: #FFFFFF; /* Color del texto */

    --colorTextoBotonesSecundarios: #50007f; /* Color del texto */

}

 /* PANELES DE CONTROL VISIBLE Y OCULTO*/

.panel-control-imagen,
.panel-control-texto {
    display: none;
}

.panel-visible {
    display: block;
}

 /* BODY*/

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s, color 0.5s;
}

 /* HEADER */

header {
    width: 100%;
    height: 125px;
    margin-top: -10px;
    background-color: var(--colorFondoHeader);
    display: block;
    justify-content: center;
    align-items: center;
}

.titulo-app {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    color:#50007f;
    margin-top: 50px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.contenedor-botones-principales {
    display: flex;
    justify-content: space-between;
}
.contenedor-botones-principales button i {
    padding: 8px;
}

.contenedor-botones-principales button {
    margin: 5px;
    padding: 0 20px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:var(--colorTexto);
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    /* Cambia el cursor a una mano */
    transition: background-color 0.3s, color 0.3s;
    /* Transición suave */
}

.contenedor-botones-principales button:hover {
    border-radius: 3px;
    color: var(--colorTextoBotones);
    background-color: var(--colorFondoBotones);
}

 /* MAIN*/

.main {
    height: 1500px;
    background-color: var(--colorFondoMeme);

}

 /* CONTENEDOR DEL MEME CON SUS RESPECTIVOS BOTONES SECUNDARIOS */

.contenedor-meme {
    width: 100%;
    height:500px;

    display: flex; /* Cambia de block a flex */
    justify-content: center;
    align-items: center;
    background-color: var(--colorFondoMeme);
    flex-direction: column; /* Alinea elementos en columna */
}

#card {
    width: 500px ;
    height:500px;

}

#contenedor-imagen {
    width: 450px ;
    height:300px;
    background-position: center;
    background-size: cover;
}


  .botones-secundarios {
    display: flex;
    gap: 10px; /* Espaciado entre botones */
    margin-top: 20px;
    margin-bottom: 20px;

}

.botones-secundarios button {
    padding: 10px 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color:var(--colorFondoBotones);
    color:var(--colorTextoBotones);
    border: none;
    border-radius: 16px; /* Mantiene el diseño redondeado */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.botones-secundarios button:hover {
    background-color: var(--colorFondoBotones); /* Mantiene el color de fondo */
    box-shadow: 0 4px 8px rgba(var(--colorFondoBotonesRGB), 0.5); /* Sombra dinámica */
}


 /* PANELES DE CONTROL DE TEXTO*/

.panel-control-texto {
    width: 100%;
    background-color: var(--colorFondoHeader);
    color:var(--colorTexto);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.panel-control-texto h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:var(--colorTexto);
    text-align: left;
}

#restablecer {
    padding: 8px 18px; /* Tamaño ligeramente más pequeño */
    font-family: Arial, sans-serif;
    font-size: 13px; /* Fuente más pequeña */
    font-weight: bold;
    background-color: transparent; /* Fondo transparente */
    color: var(--colorTextoBotonesSecundarios); /* Color del texto */
    border: 2px solid var(--colorFondoBotones); /* Borde para diferenciarlo */
    border-radius: 16px; /* Mantiene el diseño redondeado */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

#restablecer  button:hover {
    background-color: var(--colorFondoBotones);
    color: var(--colorTextoBotones);
    box-shadow: 0 2px 4px rgba(var(--colorFondoBotonesRGB), 0.3); /* Sombra más sutil */
}

 /* PANELES DE CONTROL DE IMAGEN*/

.panel-control-imagen {
    width: 100%;
    background-color: var(--colorFondoHeader);
    color:var(--colorTexto);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.panel-control-imagen h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color:var(--colorTexto);
    text-align: left;
}

.panel-control-imagen h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color:var(--colorTexto);
    text-align: left;
}

.panel-control-imagen #cargar-imagen {
    padding: 8px 18px; /* Tamaño ligeramente más pequeño */
    font-family: Arial, sans-serif;
    font-size: 13px; /* Fuente más pequeña */
    font-weight: bold;
    background-color: transparent; /* Fondo transparente */
    color: var(--colorTextoBotonesSecundarios); /* Color del texto */
    border: 2px solid var(--colorFondoBotones); /* Borde para diferenciarlo */
    border-radius: 16px; /* Mantiene el diseño redondeado */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}


.panel-control-imagen #cargar-imagen  button:hover {
    background-color: var(--colorFondoBotones);
    color: var(--colorTextoBotones);
    box-shadow: 0 2px 4px rgba(var(--colorFondoBotonesRGB), 0.3); /* Sombra más sutil */
}

.boton-filtros #reestablecer-filtros {
    padding: 8px 18px; /* Tamaño ligeramente más pequeño */
    font-family: Arial, sans-serif;
    font-size: 13px; /* Fuente más pequeña */
    font-weight: bold;
    background-color: transparent; /* Fondo transparente */
    color: var(--colorTextoBotonesSecundarios); /* Color del texto */
    border: 2px solid var(--colorFondoBotones); /* Borde para diferenciarlo */
    border-radius: 16px; /* Mantiene el diseño redondeado */
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
}

.boton-filtros #reestablecer-filtros button:hover {
    background-color: var(--colorFondoBotones); /* Mantiene el color de fondo */
    box-shadow: 0 12px 12px rgba(var(--colorFondoBotones), 0.5); /* Sombra dinámica */
}



 /* FORM / INPUTS / LABELS*/

 form label {
    display: block;
    margin-top: 5px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color:var(--colorTexto);
}

form input,
form select {
    width: 70%;
    height: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
    background: #ddd;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color:var(--colorTextoInputs);
}





form #tipografia {
    display: flex;
    justify-content: space-around;
    width: 80%; /* Ancho del input */
    border-radius: 50%; /* Hace el input redondo */
    padding: 0; /* Elimina el relleno */
}






 /* RESPONSIVE */

    /* tablet */
@media (min-width: 768px) {

    header {
        width: 100%;
        height: 125px;
    }

    .contenedor-botones-principales {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

    /* escritorio */
@media (min-width: 1024px) {

.panel-control-imagen,
.panel-control-texto {
    display: none;
}

.panel-visible {
    display: block;
}


    escritorio

    header {
        width: 100%;
        height: 125px;
    }


    .main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .contenedor-meme {
        width: 100%;
        height:600px;
        
    
        display: flex; /* Cambia de block a flex */
        justify-content: center;
        align-items: center;
        background-color: var(--colorFondoMeme);
        flex-direction: column; /* Alinea elementos en columna */
    }

    #card, #topcard, #bottomcard {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        font-family: Arial, Helvetica, sans-serif;
        /* color: black; */ 
    }

    
    #card {
        flex-direction: column; /* Alinea elementos en columna */

        width: 500px ;
        height:500px;
    
    }
    
    #contenedor-imagen {
        width: 500px ;
        height:400px;
        background-position: center;
        background-size: cover;
        background-color: black;
    }



    .botones-secundarios {
        display: flex;
        justify-content: center;
    }






    .panel-control-texto {
        width: 15%;
        background-color: var(--colorFondoHeader);
        color:var(--colorTexto);
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
    
    .panel-control-imagen {    
        width: 15%;
        background-color: var(--colorFondoHeader);
        color:var(--colorTexto);
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    
}